.cursor-pointer {
    cursor: pointer;
}

.item, .list-group-item{
    transition: all 0.2s ease;
}

.completed {
    opacity: 0.5;
}

.hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
}

.task-meta {
    font-size: 0.85rem;
}

.task-description {
    font-size: 0.9rem;
    line-height: 1.5;
    transition: all 0.3s ease;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

}

.btn-collapse {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
    transform: rotate(-90deg);


    &.active {
        transform: rotate(0deg);
    }
}

