<li class="list-group-item d-block bg-white rounded-4 px-4 py-3 shadow-sm hover-effect">
    <div class="item" [ngClass]="{ 'completed': task().status === 'Completed' }">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center flex-grow-1">
                <div class="me-3">
                    <input type="checkbox" id="checkbox-{{task().id}}" class="visually-hidden" [checked]="task().status === 'Completed'" (change)="toggleCompleted()">
                    <label for="checkbox-{{task().id}}" class="d-flex align-items-center cursor-pointer checkbox-label">
                        <lucide-icon *ngIf="task().status !== 'Completed'" [name]="circleIcon" size="24" class="text-primary transition-icon"></lucide-icon>
                        <lucide-icon *ngIf="task().status === 'Completed'" [name]="checkCircle2Icon" size="24" class="text-primary transition-icon"></lucide-icon>
                    </label>
                </div>
                <div class="task-content">
                    <b class="mb-1 task-title" [ngClass]="{ 'text-decoration-line-through': task().status === 'Completed' }">{{ task().name }}</b>
                    <div class="task-meta text-muted">
                        <span class="me-2">{{ task().date }}</span>
                        <span class="badge" [ngClass]="{
                            'bg-success': task().status === 'Completed',
                            'bg-info': task().status === 'Planned',
                            'bg-warning': task().status === 'Pending'
                        }">{{ task().status }}</span>
                    </div>
                </div>
            </div>
            <button *ngIf="task().description" class="btn btn-secondary btn-collapse" [ngClass]="{ 'active': descVisible() }" (click)="toggleDescription()" data-bs-toggle="collapse" [attr.data-bs-target]="'#taskDescription-' + task().id" [attr.aria-expanded]="descVisible()">
                <lucide-icon [name]="chevronDownIcon" size="20" class="text-white"></lucide-icon>
            </button>
        </div>
        
        <div *ngIf="task().description" class="collapse" [id]="'taskDescription-' + task().id">
            <div class="task-description mt-3">
                <p class="mb-0 text-muted">{{ task().description }}</p>
            </div>
        </div>
    </div>
</li>